/* Make sure the entire document and root div have full height */

/* index.css or App.css */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

